<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <typeAlias type="kr.or.ddit.member.model.MemberVo" alias="memberVo"/>
        <typeAlias type="kr.or.ddit.board.model.BoardVo" alias="boardVo"/>
        <typeAlias type="kr.or.ddit.post.model.PostVo" alias="postVo"/>
        <typeAlias type="kr.or.ddit.attachment.model.AttachmentVo" alias="attVo"/>
        <typeAlias type="kr.or.ddit.comments.model.CommentsVo" alias="cmtVo"/>
        <typeAlias type="kr.or.ddit.card.model.CardVo" alias="cardVo"/>
    </typeAliases>

    <mappers>
        <mapper resource="kr/or/ddit/config/db/member.xml"/>
        <mapper resource="kr/or/ddit/config/db/board.xml"/>
        <mapper resource="kr/or/ddit/config/db/post.xml"/>
        <mapper resource="kr/or/ddit/config/db/attachment.xml"/>
        <mapper resource="kr/or/ddit/config/db/comments.xml"/>
        <mapper resource="kr/or/ddit/config/db/card.xml"/>
    </mappers>
</configuration>